.home-page
    .handle-button
        width: 24px
        height: 24px
        margin: 10px
        text-align: center
        line-height: 20px
        background: #fff
        cursor: pointer
    .async-action-button
        width: 200px
        height: 24px
        text-align: center
